*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css end */


.container{
    height: 100vh;
        padding: 15px 20px;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f5eeee;
}
form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #cfc9c9;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.gender{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn{ 
    width: 100%;
    background-color: #97b36d;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}